<meta name="keywords" content="<%=@recipe.keywords.join(',') %>"> 
<div class="col-sm-1 col-lg-2"></div>
<div class="recipe-show-container col-sm-10 col-lg-8">
	<div class="col-sm-6 left-column-recipe">
		<h2><%= @recipe.title.upcase %></h2>
		<p><%= @recipe.description %></p>
	</div>
	<div class="col-xs-12 col-sm-6 right-column-recipe recipe-image">
		<%= image_tag(@recipe.image) %>
		<div class="addthis_sharing_toolbox recipe-sharebox"></div>
	</div>
	<p class="border-dotted col-xs-12"></p>
	<div class="col-sm-7 left-column-recipe">
		<% if @recipe.how_to.any? %>
			<h2>How To:</h2>
			<ol>
				<% @recipe.how_to.each do |how_to|%>
					<li><p class="recipe-list"><%= how_to %> </p></li>
				<% end %>
			</ol>
		<% end %>
	</div>
	<% if @recipe.ingredients.any? %>
		<div class="col-sm-5 right-column-recipe ingredients-column">
			<h2>Ingredients:</h2>
			<% @recipe.ingredients.each do |ingredient|%>
				<p class="recipe-list"><%= ingredient %> </p>
			<% end %>
		</div>
	<% end %>
	<div class="helpful-hint-container">
		<% if @recipe.helpful_hint != "" %>
			<h3 class="hint-header">Helpful Hint:</h3>
			<p class="helpful-hint"><%= @recipe.helpful_hint %></p>
		<% end %>
		<%if @recipe.category == 'skin_food'%>
			<button class="all-recipes-link skin-food-link btn btn-primary"><%=link_to('Back to all skin food recipes', skin_food_path)%></button>
		<% else %>
			<button class="all-recipes-link diy-beauty-link btn btn-primary"><%=link_to('Back to all DIY Beauty Recipes', diy_beauty_path)%></button>
		<% end %>
		<% if @recipe.available == true %>
			<p class="shop-link">I AM ALSO AVAILABLE TO BUY READY MADE ON <a href="http://clean-beauty-co.myshopify.com/">OUR SHOP</a></p>
		<% end %>
	</div>
</div>

<div class="col-sm-1 col-lg-2"></div>

