<div class="blog-container">
  <div class="blog-entries-header">
    <h1>Clean Beauty Co Blog</h1>
  </div>
  <div class="blog-entry-container col-sm-8"> 
    <% @blog_entries.each do |entry| %>
      <div class="featured-blog-entry-container">
        <div class="feature-blog-image blog-entry-image">
          <%= image_tag(entry.image)%>
        </div>
        <h5 class="blog-placeholder">Placeholder</h5>
        <h3 class="blog-title"><%= entry.title %></h3>
        <p class="introduction-blog-text"> <%= entry.introduction_text %></p>
        <button class="blog-read-more"> <%= link_to "READ MORE", blog_entry_path(entry)%> </button>
      </div>
    <% end %>
    <button class="blog-read-more" id="previous-blog-posts">OLDER POSTS</button>
    <button class="blog-read-more" id="newer-blog-posts">NEWER POSTS</button>
  </div>
  <div class="blog-sidemenu col-sm-3"> 
    <div class="about-us-sidemenu-container">
      <h4><span>About Us</span></h4>
      <div class="about-us-sidebar-image">
        <%= image_tag('elsdom.jpg') %>
      </div>
      <div class="about-us-sidebar-text">
        <p>This is a Little paragraph that would be appropriate to introduce the about us page. Notice that I am writing more words to fill space.</p>
      </div>
    </div>
    <div class="sidemenu-social-container">
      <h4><span>Connect With Us</span></h4>
      <div class="sidebar-social-buttons">
        <div class="sidebar-social-button-image">
          <%=link_to(image_tag('facebook-3-128.png'), "https://www.facebook.com/cleanbeautyco") %>
        </div>
        <div class="sidebar-social-button-image">
          <%=link_to(image_tag('twitter-2-128.png'), "https://twitter.com/cleanbeautyco") %>
        </div>
        <div class="sidebar-social-button-image">
          <%= link_to(image_tag('instagram-128.png'), "https://instagram.com/cleanbeautyco/") %>
        </div>
        <div class="sidebar-social-button-image">
          <%=link_to(image_tag('pinterest-3-128.png'), "https://www.pinterest.com/cleanbeautyco/") %>
        </div>
      </div>
    </div>
    <div class="facebook-sidebar-container">
      <h4><span>Find Us on Facebook</span></h4>
      <div class="fb-page" data-href="https://www.facebook.com/cleanbeautyco" data-width="250px" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/cleanbeautyco"><a href="https://www.facebook.com/cleanbeautyco">Clean Beauty Co</a></blockquote></div></div>
    </div>
  </div>
  <div class="all-preview-posts-container col-sm-8">
    <% @blog_entries.each do |entry| %>
      <div class="preview-blog-post-container col-sm-4">
        <div class="preview-image-container">
          <div class="blog-preview-image">
            <%= image_tag(entry.image)%>
          </div>
        </div>
        <div class="blog-preview-header">
          <p>Placeholder</p>
          <h3><%= entry.title %></h3>
        </div>
      </div>
    <% end %>
  </div>
  
</div>