<div class="blog-entries-header">
  <h1><%= @blog_entry.title %></h1>

</div>
<div class="blog-entry-container col-sm-8"> 
  <div class="featured-blog-entry-container">
    <div class="feature-blog-image blog-entry-image">
      <%= image_tag(@blog_entry.image)%>
    </div>
    <!-- <h5 class="blog-placeholder">Placeholder</h5> -->
    <p class="introduction-blog-text"> <%= simple_format(@blog_entry.introduction_text) %></p>
    <p class="introduction-blog-text"> <%= simple_format(@blog_entry.content) %></p>
    <div class="addthis_sharing_toolbox"></div>
  </div>
  <div class="all-preview-posts-container ">
    <% @blog_entries.each do |entry| %>
      <div class="preview-blog-post-container col-sm-4">
        <div class="preview-image-container">
          <div class="blog-preview-image">
            <%=link_to(image_tag(entry.image),blog_entry_path(entry)) %>
          </div>
        </div>
        <div class="blog-preview-header">
          <!-- <p>Placeholder</p> -->
          <h3><%= link_to(entry.title, blog_entry_path(entry)) %></h3>
        </div>
      </div>
    <% end %>
  </div> 

 <!--  <button class="blog-read-more" id="previous-blog-posts">OLDER POSTS</button>
  <button class="blog-read-more" id="newer-blog-posts">NEWER POSTS</button>  -->
</div>
  <div class="blog-sidemenu col-sm-3"> 
    <div class="about-us-sidemenu-container">
      <h4><span>What's Going On Here?</span></h4>
      <div class="about-us-sidebar-image">
        <%= image_tag('elsie-and-dom-blog-pic.jpg') %>
      </div>
      <div class="about-us-sidebar-text">
        <p>Hey! You've found our blog. Here you can find reviews, general clean beauty musings, guest recipes and food for thought.</p>
      </div>
    </div>
    <div class="sidemenu-social-container">
      <div class="sidebar-social-buttons">
        <!-- <div class="col-sm-2"></div> -->
        <div class="sidebar-social-button-image col-xs-3 col-sm-3">
          <%=link_to(image_tag('facebook-3-128.png'), "https://www.facebook.com/cleanbeautyco") %>
        </div>
        <div class="sidebar-social-button-image col-xs-3 col-sm-3">
          <%=link_to(image_tag('twitter-2-128.png'), "https://twitter.com/cleanbeautyco") %>
        </div>
        <div class="sidebar-social-button-image col-xs-3 col-sm-3">
          <%= link_to(image_tag('instagram-128.png'), "https://instagram.com/cleanbeautyco/") %>
        </div>
        <div class="sidebar-social-button-image col-xs-3 col-sm-3">
          <%=link_to(image_tag('pinterest-3-128.png'), "https://www.pinterest.com/cleanbeautyco/") %>
        </div>
        <!-- <div class="col-sm-2"></div> -->
      </div>
    </div>
    <div class="instagram-sidebar-container">
      <h4><span>Find Us on Instagram</span></h4>
      <div class="col-sm-2"></div>
      <!-- SnapWidget -->
      <script src="http://snapwidget.com/js/snapwidget.js"></script>
      <iframe src="http://snapwidget.com/in/?u=Y2xlYW5iZWF1dHljb3xpbnwyNTB8M3wzfHxub3w1fGZhZGVJbnxvblN0YXJ0fHllc3x5ZXM=&ve=291115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      <div class="col-sm-2"></div>
    </div>
    <div class="facebook-sidebar-container">
      <h4><span>Find Us on Facebook</span></h4>
      <!-- <div class="col-sm-2"></div> -->
      <div class="fb-page" data-href="https://www.facebook.com/cleanbeautyco" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/cleanbeautyco"><a href="https://www.facebook.com/cleanbeautyco">Clean Beauty Co</a></blockquote></div></div>
      <!-- <div class="col-sm-2"></div> -->
    </div>

  </div>

