<div class="container">
  <h1 class="contact-header">Contact Us</h1>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <p class="contact-intro">Go on, get in touch. We're dying to hear from you. </p>
    <%= f.input :name %>
    <%= f.input :email, :required => true %>
    <%= f.input :subject, as: :subject %>
    <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 10} %>
    <%= f.simple_captcha :label => "Enter numbers.." %>

    <div class="hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary contact-submit-button" %>
    </div>
  <% end %>
</div>
