<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home.js" %>
<% end %>




<div class="main-header-image" data-parallax="scroll" data-image-src="<%= image_url 'Homepage-main-image_50_op.jpg' %>" data-speed="0.2">
  <div class="header-logo-container">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <%= image_tag("new-clean-logo-newist.png") %>
  </div>
  <div class="col-sm-4"></div>
</div>
</div>



<div class="header-taglines">
  <h1>London-based pursuers of clean beauty </h1>
  <h1>sharing natural and non-toxic beauty recipes</h1>
</div>

<div class="homepage-content-container">

   <div class="feature-images-links ">
     <div class="col-sm-0 col-xl-2"></div>
     <div class="products-feature col-sm-3 col-xl-2">
       <div class="product-image">
         <%=link_to(image_tag('products-home-image.jpg'), products_path) %>
       </div> 
       <h2><%=link_to('PRODUCTS', products_path)%></h2>

  <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor animi, minus. Corrupti praesentium debitis sint iure officia error veniam nihil fuga exercitationem. Similique earum, a ipsum. Hic atque in at.</p> -->
     </div>
     <div class="recipes-feature col-sm-3 col-xl-2">
       <div class="product-image">
         <%=link_to(image_tag('recipes-home-image.jpg'), recipes_path) %> 
       </div>
       <h2><%=link_to('RECIPES', recipes_path)%></h2>

      <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt molestias nulla, consequatur culpa dolorum nihil aliquam quasi quaerat quas eos porro earum rem fugiat in adipisci esse doloribus ipsam, reprehenderit.</p> -->

     </div>
     <div class="ingredients-feature col-sm-3 col-xl-2">
       <div class="product-image">
         <%=link_to(image_tag('ingredients-home-image.jpg'), ingredients_path) %>
       </div>
      <h2><%=link_to('INGREDIENTS', ingredients_path)%></h2>

     <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
     </div>

     <div class="placeholder-feature col-sm-3 col-xl-2">
       <div class="product-image">
         <%=link_to(image_tag('flower.png'), root_path) %>
       </div>
       <h2><%=link_to('EVENTS', root_path)%></h2>

     <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
     </div>
     <div class="col-sm-0 col-xl-2"></div>
</div>

  <div class="blog-products-seaparator-container" data-parallax="scroll" data-image-src="<%= image_url 'homepae-another-image.jpg' %>" data-speed="0.4">
  </div>

  <div class="blog-image-container" data-parallax="scroll" data-image-src="<%= image_url 'new_blog-home-page-new.jpg' %>" data-speed="0.6">
    <div class="blog-header-container">
      <div class="blog-header">
        <h3><%=link_to('Clean Beauty Co Blog', blog_entries_path) %></h3>
      </div>
    </div>
  </div>

  <!-- SnapWidget -->
  

</div>
