<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home.js" %>
<% end %>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-logo nav-header-width"><%= image_tag("logo.png") %></li>
        <li class="nav-header-width active"><a href="#">About Us <span class="sr-only">(current)</span></a></li>
        <li class="nav-header-width  product-click-dropdown dropdown separate-dropdown" data-toggle="dropdown"><%=link_to("Shop", root_path) %>
          <ul class="dropdown-menu shop-dropdown">
            <li><%=link_to("Products", products_path) %></li>
            <li><%=link_to("Ingredients", ingredients_path) %></li>
          </ul>
        </li>
        <li class="nav-header-width dropdown recipes-click-dropdown separate-dropdown" data-toggle="dropdown"><%=link_to("Recipes", recipes_path) %>
          <ul class="dropdown-menu recipes-dropdown">
            <li><%=link_to("Skin Food", '#') %></li>
            <li><%=link_to("DIY Beauty", '#') %></li>
          </ul>
        </li>
        <li class="nav-header-width dropdown events-click-dropdown separate-dropdown "><%=link_to("Events", '#') %>
          <ul class="dropdown-menu events-dropdown">
            <li><%=link_to("Workshops", '#') %></li>
          </ul>
        </li>
        <li class="nav-header-width"><%=link_to("Contact Us", root_path) %></li>
        <li class="nav-header-width"><%=link_to("Blog", blog_entries_path) %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-header-image" data-parallax="scroll" data-image-src="<%= image_url 'faded-background.jpg' %>" data-speed="0.2"></div>
<div class="header-logo-container">
  <%= image_tag("logo.png") %>
</div>
<div class="header-taglines">
  <h1>London-based pursuers of clean beauty </h1>
  <h1>sharing natural and non-toxic beauty recipes</h1>
</div>

<div class="homepage-content-container">
  <div class="about-us-container" data-parallax="scroll" data-image-src="<%= image_url 'faded-nametags-darker.jpg' %>" data-speed="0.4" >
    <div class="left-margin col-sm-1"></div>
    <div class="homepage-about-us col-sm-10">
      <h1>About us</h1>
      <p> 
       We love beauty products. We love face masks and serums and creams and lotions and nail varnish and mascara and blush. We wear make-up every day, cleanse our faces twice a day, and often use sunscreen, anti-aging products, hand cream, skin brighteners and hair lighteners. We love beauty products.<br>
       <!-- <button class="read-more">Read more</button> -->
       <span class="more-about-us">
       Being avid food label readers, we decided to take a look at the ingredients of Herbal Essences shampoo when we noticed the colour was getting quite electric blue. Not much herbal in it unfortunately. It’s actually filled with harsh petrochemicals that strip your hair of its natural oils, replacing it with a plastic glossy sheen. Not to mention the parabens and chemicals used as fillers that have been linked to cancer. And that electric blue? It’s just an synthetic additive to change the probably ordinary colour, into something standout.<br>

       It’s not something we’d really like to put on, or in, our bodies. Because those two are intrinsically linked. They’re bezzie mates actually. So, we decided to start investigating clean beauty products and actually realised it’s really easy, and fun, to make your own. We’re sharing that journey of development and education with you, as we throw out our commercial-synthetic-products and replace them with homemade, natural and paraben free products.<br>

       You know what’s great? When using our Argan oil hair serum, we know it’s actually made of Argan oil. Rather than 0.5% Argan oil and 99.5% synthetic fillers. Or that Rose face mist? In it it’s actually got Damask rosewater from Bulgaria, where the finest roses are grown, and not just a rose-scented parfum and a bit of water.<br>

       And that’s what Clean Beauty Co is all about. Fewer ingredients, no fillers, absolute potency.<br>

       We hope you enjoy our experiences as much as we enjoying learning and please reach out, we’d love to hear from you.
       </span>
      </p>
    </div> 
    <div class="right-margin col-sm-1" ></div>
  </div>
   <div class="feature-images-links ">

     <div class="products-feature col-sm-3">
       <div class="product-image">
         <%= image_tag('product-example.jpg') %>
         <h2><%=link_to('PRODUCTS', products_path)%></h2>
       </div>  
  <!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor animi, minus. Corrupti praesentium debitis sint iure officia error veniam nihil fuga exercitationem. Similique earum, a ipsum. Hic atque in at.</p> -->
     </div>
     <div class="recipes-feature col-sm-3">
       <div class="product-image">
         <%= image_tag('recipe-example.jpg') %> 
         <h2><%=link_to('RECIPES', recipes_path)%></h2>
       </div>
      <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt molestias nulla, consequatur culpa dolorum nihil aliquam quasi quaerat quas eos porro earum rem fugiat in adipisci esse doloribus ipsam, reprehenderit.</p> -->

     </div>
     <div class="ingredients-feature col-sm-3">
       <div class="product-image">
         <%= image_tag('ingredients-example.jpg') %>
         <h2><%=link_to('INGREDIENTS', ingredients_path)%></h2>
       </div>
     <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
     </div>

     <div class="placeholder-feature col-sm-3">
       <div class="product-image">
         <%= image_tag('flower.png') %>
         <h2><%=link_to('PLACEHOLDER', root_path)%></h2>
       </div>
     <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
     </div>
</div>




  <div class="blog-image-container" data-parallax="scroll" data-image-src="<%= image_url 'background-fancy.jpg' %>" data-speed="0.6">
    <div class="blog-header-container">
      <div class="blog-header">
        <h3><%=link_to('Clean Beauty Co Blog', blog_entries_path) %></h3>
      </div>
    </div>
  </div>

  <div class="social-container">
    <div class="social-icon col-sm-3">
      <div class="social-image facebook">
        <%= image_tag('facebook-3-128.png') %>
      </div>
    </div>
    <div class="social-icon col-sm-3">
      <div class="social-image twitter">
        <%= image_tag('twitter-2-128.png') %>
      </div>
    </div>
    <div class="social-icon col-sm-3">
      <div class="social-image insta">
        <%= image_tag('instagram-128.png') %>
      </div>
    </div>
    <div class="social-icon col-sm-3">
      <div class="social-image pint">
        <%= image_tag('pinterest-3-128.png') %>
      </div>
    </div>
  </div>

</div>
