<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home.js" %>
<% end %>




<div class="main-header-image" data-parallax="scroll" data-image-src="<%= image_url 'grapelingtons2.jpg' %>" data-speed="0.2">
    <div class="header-logo-container">
    <div class="col-xs-4 col-sm-5"></div>
    <div class="col-xs-4 col-sm-2 mobile-logo-container">
      <%= image_tag("new-clean-logo-newist.png") %>
    </div>
    <div class="col-xs-4 col-sm-5"></div>
  </div>
</div>



<div class="header-taglines">
  <h1>London-based pursuers of clean beauty, </h1>
  <h1>sharing natural and non-toxic beauty recipes</h1>
</div>

<div class="header-taglines-second">
  <h1>London-based pursuers of clean beauty, sharing natural and non-toxic beauty recipes </h1>
</div>

<div class="info-container-wrapper">
<div class="info-container">
  <div class="inside-info-container">
    <div class="info-entry">
      <div class="feature-header-container">
        <p class="feature-header">100% NATURAL</p>
        <hr>
      </div>
      <p>Only the good stuff</p>

    </div> 
    <div class="diamond">
      <%= image_tag('diamond.png')%>
    </div>   
    <div class="info-entry">
      <div class="feature-header-container">
        <p class="feature-header">NON-TOXIC
        </p> 
        <hr>
      </div>
      <p>No nasty chemicals</p>  

    </div>
    <div class="diamond">
      <%= image_tag('diamond.png')%>
    </div> 
    <div class="diamond">
    </div> 
    <div class="info-entry">
      <div class="feature-header-container">
        <p class="feature-header">ABSOLUTE POTENCY</p>
        <hr>
      </div>
      <p>No fillers, just undiluted ingredients</p>

    </div>
  </div>
</div>
</div>

<div class="pineapple-image" data-parallax="scroll" data-image-src="<%= image_url 'pineapple-edit.jpg' %>" data-speed="0.5">
</div>

<div class="homepage-content-container">
  <p class="faves">OUR FAVES</p>
  <hr>

   <div class="feature-images-links ">

     <div class="row homepage-row">

     <div class="col-xs-0 col-xl-2"></div>
       <div class="products-feature col-xs-6 col-sm-3 col-xl-2">
         <div class="product-image">
         <% if @featured_products.first.class == BlogEntry %>
           <%=link_to(image_tag(@featured_products.first.image), blog_entries_path(@featured_products.first.id)) %>
           <h2><%=link_to(@featured_products.first.title, blog_entries_path(@featured_products.first.id))%></h2>
         <% else %>
           <%=link_to(image_tag(@featured_products.first.image), recipes_show_path(@featured_products.first.slug)) %>
           <h2><%=link_to(@featured_products.first.title, recipes_show_path(@featured_products.first.slug))%></h2>
         <% end %>
         </div> 
       </div>

       
       <div class="recipes-feature col-xs-6 col-sm-3 col-xl-2">
         <div class="product-image">
         <% if @featured_products[1].class == BlogEntry %>
           <%=link_to(image_tag(@featured_products[1].image), blog_entries_path(@featured_products[1].id)) %>
           <h2><%=link_to(@featured_products[1].title, blog_entries_path(@featured_products[1].id))%></h2>
         <% else %>
           <%=link_to(image_tag(@featured_products[1].image), recipes_show_path(@featured_products[1].slug)) %>
           <h2><%=link_to(@featured_products[1].title, recipes_show_path(@featured_products[1].slug))%></h2>
         <% end %>
         </div>
       </div>
       
      </div>

      <div class="row homepage-row">
       <div class="ingredients-feature col-xs-6 col-sm-3 col-xl-2">
         <div class="product-image">
         <% if @featured_products[2].class == BlogEntry %>
           <%=link_to(image_tag(@featured_products[2].image), blog_entries_path(@featured_products[2].id)) %>
           <h2><%=link_to(@featured_products[2].title, blog_entries_path(@featured_products[2].id))%></h2>
         <% else %>
           <%=link_to(image_tag(@featured_products[2].image), recipes_show_path(@featured_products[2].slug)) %>
           <h2><%=link_to(@featured_products[2].title, recipes_show_path(@featured_products[2].slug))%></h2>
         <% end %>
         </div>

       <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
       </div>
     


     <!-- <div class="row homepage-row"> -->
     <div class="placeholder-feature col-xs-6 col-sm-3 col-xl-2">
       <div class="product-image">
       <% if @featured_products[3].class == BlogEntry %>
         <%=link_to(image_tag(@featured_products[3].image), blog_entries_path(@featured_products[3].id)) %>
         <h2><%=link_to(@featured_products[3].title, blog_entries_path(@featured_products[3].id))%></h2>
       <% else %>
         <%=link_to(image_tag(@featured_products[3].image), recipes_show_path(@featured_products[3].slug)) %>
         <h2><%=link_to(@featured_products[3].title, recipes_show_path(@featured_products[3].slug))%></h2>
       <% end %>
       </div>

     <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
     </div>
     <div class="col-xs-0 col-xl-2"></div>
     </div>

 
     <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum nisi quaerat reiciendis minus aspernatur! Voluptatem blanditiis odio eos fugiat enim sed eveniet asperiores alias. Voluptates molestiae veritatis, excepturi vitae.</p> -->
     </div>

     </div>
</div>


  <div class="blog-products-seaparator-container" data-parallax="scroll" data-image-src="<%= image_url 'passion-f.png' %>" data-speed="0.4">
  </div>
  

</div>
