<!DOCTYPE html>
<html>
<head>
  <title>CleanBeautyCoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,700' rel='stylesheet' type='text/css'>


  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=720557541411763";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="home-logo">
        <%=link_to(image_tag('homepage-logo2.png'), root_path) %>
      </div>
      <ul class="nav navbar-nav">

        <!-- <li class="nav-logo nav-header-width"><%#= link_to(image_tag("logo.png"), root_path) %></li> -->
        <li class="nav-header-width nav-item-width ">
          <%= link_to('About Us', abouts_path) %>
        </li>
        <li class=" nav-item-width nav-header-width  product-click-dropdown dropdown separate-dropdown" data-toggle="dropdown"><%=link_to("Shop", "http://clean-beauty-co.shopify.com") %>
        </li>
        <li class=" nav-item-width nav-header-width dropdown recipes-click-dropdown separate-dropdown" data-toggle="dropdown"><%=link_to("Recipes", recipes_path) %>
          <ul class="dropdown-menu recipes-dropdown">
            <li><%=link_to("Skin Food", '#') %></li>
            <li class="diy-beauty-link"><%=link_to("DIY Beauty", diy_beauty_path) %></li>
          </ul>
        </li>
        <li class=" nav-item-width nav-header-width dropdown events-click-dropdown separate-dropdown "><%=link_to("Events", '#') %>
          <ul class="dropdown-menu events-dropdown">
            <li><%=link_to("Workshops", '#') %></li>
          </ul>
        </li>
        <li class=" nav-item-width nav-header-width"><%=link_to("Contact Us", new_contact_path) %></li>
        <li class=" nav-item-width nav-header-width"><%=link_to("Press", press_path) %></li>
        <li class=" nav-item-width nav-header-width"><%=link_to("Blog", blog_entries_path) %></li>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>
<iframe src="http://snapwidget.com/sc/?u=Y2xlYW5iZWF1dHljb3xpbnwxNTB8NjB8MXx8bm98NXxmYWRlT3V0fG9uU3RhcnR8eWVzfHllcw==&ve=161115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:2000px; height:150px"></iframe>

<div class="social-container">
  <div class="social-icon col-sm-3">
    <div class="social-image facebook">
      <%=link_to(image_tag('facebook2.png'), "https://www.facebook.com/cleanbeautyco") %>
    </div>
  </div>
  <div class="social-icon col-sm-3">
    <div class="social-image twitter">
      <%=link_to(image_tag('twitter2.png'), "https://twitter.com/cleanbeautyco") %>
    </div>
  </div>
  <div class="social-icon col-sm-3">
    <div class="social-image insta">
      <%= link_to(image_tag('instagram2.png'), "https://instagram.com/cleanbeautyco/") %>
    </div>
  </div>
  <div class="social-icon col-sm-3">
    <div class="social-image pint">
      <%=link_to(image_tag('pinterest2.png'), "https://www.pinterest.com/cleanbeautyco/") %>
    </div>
  </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-565b7c628efd1726" async="async"></script>

</body>
</html>
